S3method("+",geo)
S3method(print,geo)
export(animation_geo)
export(append_data)
export(approx_areas)
export(calc_densities)
export(convert_shape_data)
export(crop_shape)
export(fit_polylines)
export(geo)
export(geo_borders)
export(geo_bubbles)
export(geo_facets)
export(geo_fill)
export(geo_grid)
export(geo_lines)
export(geo_shape)
export(geo_text)
export(geo_theme)
export(geo_theme_Europe)
export(geo_theme_NLD)
export(geo_theme_World)
export(get_IDs)
export(get_polygon_ranges)
export(get_projection)
export(rd2wgs84)
export(read_shape)
export(set_projection)
export(split_lines_poly)
export(write_shape)
import(RColorBrewer)
import(classInt)
import(fields)
import(grid)
import(gridBase)
import(igraph)
import(rgdal)
import(rgeos)
import(sp)
import(vegan)
